@import '../colors';
@import '../typography';
@import '../animations';
$large: 40px;
$medium: 28px;
$small: 20px;
$tiny: 16px;

.avatar {
  line-height: $medium;

  display: inline-block;
  overflow: hidden;

  width: $medium;
  height: $medium;

  text-align: center;
  vertical-align: top;
  text-transform: uppercase;

  border-radius: 50%;
  background: transparent;

  img {
    display: block;

    width: 100%;
    height: auto;
  }

  svg {
    position: relative;
    bottom: -2px;

    width: 100%;
    height: 100%;

    vertical-align: top;
  }

  path {
    animation: glow 1.5s ease-in-out infinite;

    fill: $color-neutral-80;
  }

  &__src {
    background: $color-neutral-50;
  }

  &__initial {
    color: $color-neutral-50;
    background: $color-neutral-80;
  }

  &__loading {
    background: transparent;
  }

  &__size {
    &--large {
      font-size: $font-size-lg;
      line-height: $large;

      width: $large;
      height: $large;
    }

    &--small {
      font-size: $font-size-sm;
      line-height: $small;

      width: $small;
      height: $small;
    }

    &--tiny {
      font-size: $font-size-xs;
      line-height: $tiny;

      width: $tiny;
      height: $tiny;
    }
  }
}

@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
