@import '../colors';
.icon {
  display: inline-block;

  transition: opacity ease 0.4s;
  transform: translate3d(0, 0, 0);
  vertical-align: middle;

  fill: $color-neutral-50;

  &__block {
    display: block;
  }
}