@import '../colors';
@import '../typography';

.input {
  font-size: $font-size-sm;

  width: 100%;
  padding: 4px 5px;

  transition: all ease 0.4s;

  color: $color-neutral-40;
  border: 0;
  background: transparent;

  &::placeholder {
    color: $color-neutral-70;
  }

  &__error {
    color: $color-red-50;
  }

  &__disabled {
    pointer-events: none;
  }
}
