@import '../colors';
@import '../typography';

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  display: grid;

  width: 600px;
  height: 500px;

  transform: translate(-50%, -50%);

  border-radius: 4px;
  background: $color-neutral-90;
  box-shadow: 0 0 5px $color-neutral-90;

  grid-template-rows: auto 1fr auto;

  &:focus {
    outline: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid $color-neutral-50;
  }

  &__footer {
    border-top: 1px solid $color-neutral-50;
  }

  &__closeIcon {
    font-size: $font-size-xl;
  }
}

.ReactModal__Body--open {
  overflow: hidden;
  &.hide-intercom #intercom-container {
    display: none;
  }
}

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: all 400ms ease-in;

  background: rgba($color-neutral-80, 0.9) !important;

  &--after-open {
    opacity: 1;
  }

  &--before-close {
    opacity: 0;
  }
}
