@import '../colors';

.DraftEditor-root {
  box-sizing: border-box;
  margin-bottom: 2em;
  padding: 16px;

  cursor: text;

  border: 1px solid $color-neutral-80;
  border-radius: 0 0 4px 4px;
  background: $color-neutral-90;
  box-shadow: 0 1px 8px -3px #ababab;
}

.toolbar {
  z-index: 2;

  box-sizing: border-box;

  border-radius: 4px 4px 0 0;
  background: $color-neutral-80;

  &:after {
    margin-left: -4px;

    border-width: 4px;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #333333;
  }

  &:before {
    margin-left: -6px;

    border-width: 6px;
    border-color: rgba(221, 221, 221, 0);
    border-top-color: #111111;
  }

  button {
    font-size: 18px;

    width: 36px;
    height: 34px;
    padding-top: 5px;

    vertical-align: bottom;

    color: $color-neutral-60;
    border: 0;
    border-radius: 4px;
    background: transparent;

    svg {
      fill: $color-neutral-60;
    }

    &:hover,
    &:focus {
      color: $color-neutral-40 !important;
      outline: 0; /* reset for :focus */
      background: $color-neutral-70;

      svg {
        fill: $color-neutral-40;
      }
    }
  }
}

.draftJsToolbar__active__3qcpF {
  color: $color-neutral-40 !important;
  svg {
    fill: $color-neutral-40 !important;
  }
}

.public-DraftEditorPlaceholder-inner {
  position: absolute;
  z-index: 1;

  color: $color-neutral-70;
}
