@import '../colors';
@import '../typography';

.tooltip {
  &__box {
    font-size: $font-size-xs;

    z-index: 10;

    padding: 3px 12px;

    transform-origin: center center;

    color: $color-neutral-50;
    border: 1px solid $color-neutral-80;
    border-radius: 3px;
    background-color: rgba($color-neutral-80, 0.9);
  }

  &__text {
    cursor: help;

    color: $color-cyan-50;
    border-bottom: 1px dotted $color-cyan-50;
  }
}
