@import '../styles/colors';

.container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  cursor: pointer;
  transition: all ease 0.4s;

  border: 1px solid $color-neutral-60;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 3px solid $color-cyan-30;
  }
}

.containerChecked {
  border-color: $color-cyan-60;
}

.containerDisabled {
  cursor: not-allowed;
  pointer-events: none;

  border-color: $color-neutral-50;
  background: $color-neutral-30;

  span {
    cursor: not-allowed;

    color: $color-neutral-60;
  }
}

.checkbox {
  display: none;
}

.checkmark {
  transition: all ease 0.4s;
  transform: scale(1.5);

  opacity: 0;
}

.checkmarkChecked {
  transform: scale(1);

  opacity: 1;
  color: $color-cyan-60;
}