@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,800,900');
@import 'typography';
@import 'colors';

* {
  box-sizing: border-box;
}

#docs-root {
  > div > div {
    max-width: 1200px !important;
  }
}

.d-flex {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;

  margin: 0;
  padding: 0;

  color: $color-neutral-20;
}

h1 {
  font-size: $font-size-2xl;
  font-weight: $font-weight-regular;
  line-height: $font-line-height-xl;
}

h2 {
  font-weight: $font-weight-bolder;
  line-height: $font-line-height-2xl;
}

h3 {
  line-height: $font-line-height-lg;
}

h4 {
  line-height: $font-line-height-md;
}

h5 {
  font-weight: bold;
  line-height: $font-line-height-sm;

  letter-spacing: 1.1px;
}

button,
input,
textarea,
select {
  font-family: $font-type-primary;

  outline: none;
}

sub,
sup {
  font-size: 0.8em;
}

sub {
  bottom: -0.2em;
}

sup {
  top: -0.2em;
}

b,
em {
  font-weight: $font-weight-bold;
}

hr {
  clear: both;

  margin-bottom: 1.25rem;

  border: none;
  border-top: 1px solid $color-neutral-80;
}

code,
pre {
  font-family: $font-type-code;
  font-size: $font-size-sm;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  display: inline-block;

  padding-right: 2px;
  padding-left: 2px;

  vertical-align: baseline;

  color: $color-neutral-60;
}

pre {
  line-height: 18px;

  margin: 1rem 0;
  padding: 11px 1rem;

  white-space: pre-wrap;

  color: $color-neutral-60;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}

p {
  font-size: $font-size-sm;
  line-height: $font-line-height-lg;

  margin: 0;

  letter-spacing: 0.5px;

  color: $color-neutral-10;
}

body {
  font-family: $font-type-primary;
  font-size: $font-size-md;

  overflow-x: hidden;
  overflow-y: auto;

  margin: 0;

  color: $color-neutral-40;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
