@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,800,900');
@import 'typography';

* {
  box-sizing: border-box;
}

#docs-root {
  > div > div {
    max-width: 1200px !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-regular;

  margin: 0;
  padding: 0;
}

button,
input,
textarea,
select {
  font-family: $font-type-primary;

  outline: none;
}

sub,
sup {
  font-size: 0.8em;
}

sub {
  bottom: -0.2em;
}

sup {
  top: -0.2em;
}

b,
em {
  font-weight: $font-weight-bold;
}

hr {
  clear: both;

  margin-bottom: 1.25rem;

  border: none;
  border-top: 1px solid $color-border;
}

code,
pre {
  font-family: $font-type-code;
  font-size: $font-size-sm;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  display: inline-block;

  padding-right: 2px;
  padding-left: 2px;

  vertical-align: baseline;

  color: $color-secondary;
}

pre {
  line-height: 18px;

  margin: 1rem 0;
  padding: 11px 1rem;

  white-space: pre-wrap;

  color: $color-darkest;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}

p {
  font-size: $font-size-sm;
}

body {
  font-family: $font-type-primary;
  font-size: $font-size-md;

  overflow-x: hidden;
  overflow-y: auto;

  margin: 0;

  color: $color-darkest;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &.ReactModal__Body--open {
    overflow: hidden;
    &.hide-intercom #intercom-container {
      display: none;
    }
  }

  .ReactModalPortal > div {
    opacity: 0;
  }

  .ReactModalPortal .ReactModal__Overlay {
    transition: all 200ms ease-in;

    &--after-open {
      opacity: 1;
    }

    &--before-close {
      opacity: 0;
    }
  }
}
