@import '../styles/colors';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: inline-block;

  animation: spin 0.6s linear infinite;

  border: solid $color-neutral-40;
  border-left-color: $color-cyan-60;
  border-radius: 50%;
}