@import '../styles/typography';
@import '../styles/colors';

.wrapper {
  position: relative;

  width: 200px;
  margin-top: 1rem;
  padding: 7px 7px;

  border: 1px solid $color-neutral-60;
  border-radius: 4px;
}

.childrenWrapper {
  display: flex;
  justify-content: space-between;
}

.childrenWrapperDefault {
  width: 100%;
}

.childrenWithIcon {
  &:first-child {
    width: calc(100% - 18px);
  }
}

.childrenWithDoubleIcon {
  &:first-child {
    width: calc(100% - 34px);
  }
}

.label {
  font-size: $font-size-xs;

  position: absolute;
  top: -9px;
  left: 7px;

  padding: 0 5px;

  color: $color-neutral-80;
  background: white;
}

.icons {
  position: absolute;
  top: 10px;
  right: 5px;
  display: flex;
}

.close {
  path {
    fill: $color-neutral-70;
  }

  &:hover {
    path {
      fill: $color-neutral-80;
    }
  }
}

.error {
  border-color: $color-red-50;
  color: $color-red-60;
}
