@import '../styles/colors';
@import '../styles/typography';

.button {
  font-size: $font-size-sm;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  background: $color-cyan-70;
  color: $color-neutral-10;
  font-weight: $font-weight-bold;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    background: $color-cyan-80;
  }

  &:disabled {
    color: $color-neutral-10 !important;
    background: $color-expansions-mean-streets-of-gadgetzan-30 !important;
    border-color: $color-expansions-mean-streets-of-gadgetzan-30 !important;
    cursor: not-allowed !important;
  }
}

.secondary {
  background: transparent;
  border-color: $color-cyan-70;
  color: $color-cyan-70;

  &:hover {
    border-color: $color-cyan-90;
    color: $color-cyan-90;
    background: $color-neutral-10;
  }
}

.loading {
}

.small {
  padding: 0.25rem 0.5rem;
}
