@import '../styles/colors';
@import '../styles/typography';

.input {
  font-size: $font-size-sm;

  width: 100%;
  padding: 4px 5px;

  transition: all ease 0.4s;

  color: $color-cyan-80;
  border: 0;
}

.inputError {
  color: $color-red-60;
}

.disabled {
  pointer-events: none;
}